.attach*
*.out
/bin
/target
target/
.idea/
.metadata/
RemoteSystemsTempFiles/
Servers/
*.iml
*.log
*.log*
nohup.out
.DS_Store
*.orig
tmp.txt
*.hprof
tmp.txt
ca.uhn.fhir.jpa.entity.ResourceIndexedSearchParamString/
ca.uhn.fhir.jpa.entity.ResourceTable/
ca.uhn.fhir.jpa.entity.TermConcept/

# Vagrant stuff.
.vagrant
/vagrant/build
/vagrant/chef/tmp
jpaserver_derby_files


# Created by https://www.gitignore.io

### Java ###
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.class

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
tbl_bck*.png

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties


### Vim ###
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~


### Intellij ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm

*.iml

## Directory-based project format:
.idea/
# if you remove the above rule, at least ignore the following:

# User-specific stuff:
# .idea/workspace.xml
# .idea/tasks.xml
# .idea/dictionaries

# Sensitive or high-churn files:
# .idea/dataSources.ids
# .idea/dataSources.xml
# .idea/sqlDataSources.xml
# .idea/dynamic.xml
# .idea/uiDesigner.xml

# Gradle:
# .idea/gradle.xml
# .idea/libraries

# Mongo Explorer plugin:
# .idea/mongoSettings.xml

## File-based project format:
*.ipr
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties


### Eclipse ###
*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
*.hprof
.project
.classpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# JDT-specific (Eclipse Java Development Tools)
**/.settings
**/.target
**/.factorypath
**/.springBeans


# PDT-specific
.buildpath

# sbteclipse plugin
.target

# TeXlipse plugin
.texlipse
/org.hl7.fhir.r4/src/test/resources/gen
/org.hl7.fhir.r4/src/test/resources/graphql/*.out
/org.hl7.fhir.r4/src/main/resources/graphql/*.out
/org.hl7.fhir.r4/src/main/resources/gen
/release_batch_template.txt
/org.hl7.fhir.r5/src/main/resources/graphql/*.out
/zuliprc
/org.hl7.fhir.validation/src/test/resources/comparison/output/*.html
/org.hl7.fhir.r5/src/main/resources/snapshot-generation/t1-output.xml
/org.hl7.fhir.r5/src/main/resources/snapshot-generation/t10-output.xml
/org.hl7.fhir.r5/src/main/resources/snapshot-generation/t11-output.xml
/org.hl7.fhir.r5/src/main/resources/snapshot-generation/t12-output.xml
/org.hl7.fhir.r5/src/main/resources/snapshot-generation/t12a-output.xml
/org.hl7.fhir.r5/src/main/resources/snapshot-generation/t13-output.xml
/org.hl7.fhir.r5/src/main/resources/snapshot-generation/t14-output.xml
/org.hl7.fhir.r5/src/main/resources/snapshot-generation/t15-output.xml
/org.hl7.fhir.r5/src/main/resources/snapshot-generation/t16-output.xml
/org.hl7.fhir.r5/src/main/resources/snapshot-generation/t17-output.xml
/org.hl7.fhir.r5/src/main/resources/snapshot-generation/t18-output.xml
/org.hl7.fhir.r5/src/main/resources/snapshot-generation/t19-output.xml
/org.hl7.fhir.r5/src/main/resources/snapshot-generation/t2-output.xml
/org.hl7.fhir.r5/src/main/resources/snapshot-generation/t21-output.xml
/org.hl7.fhir.r5/src/main/resources/snapshot-generation/t22-output.xml
/org.hl7.fhir.r5/src/main/resources/snapshot-generation/t23-output.xml
/org.hl7.fhir.r5/src/main/resources/snapshot-generation/t24a-output.xml
/org.hl7.fhir.r5/src/main/resources/snapshot-generation/t24b-output.xml
/org.hl7.fhir.r5/src/main/resources/snapshot-generation/t26-output.xml
/org.hl7.fhir.r5/src/main/resources/snapshot-generation/t27-output.xml
/org.hl7.fhir.r5/src/main/resources/snapshot-generation/t28-output.xml
/org.hl7.fhir.r5/src/main/resources/snapshot-generation/t29-output.xml
/org.hl7.fhir.r5/src/main/resources/snapshot-generation/t3-output.xml
/org.hl7.fhir.r5/src/main/resources/snapshot-generation/t30b-output.xml
/org.hl7.fhir.r5/src/main/resources/snapshot-generation/t31-output.xml
/org.hl7.fhir.r5/src/main/resources/snapshot-generation/t32-output.xml
/org.hl7.fhir.r5/src/main/resources/snapshot-generation/t33-output.xml
/org.hl7.fhir.r5/src/main/resources/snapshot-generation/t34-output.xml
/org.hl7.fhir.r5/src/main/resources/snapshot-generation/t35-output.xml
/org.hl7.fhir.r5/src/main/resources/snapshot-generation/t36-output.xml
/org.hl7.fhir.r5/src/main/resources/snapshot-generation/t38-output.xml
/org.hl7.fhir.r5/src/main/resources/snapshot-generation/t4-output.xml
/org.hl7.fhir.r5/src/main/resources/snapshot-generation/t40-output.xml
/org.hl7.fhir.r5/src/main/resources/snapshot-generation/t41-output.xml
/org.hl7.fhir.r5/src/main/resources/snapshot-generation/t42-output.xml
/org.hl7.fhir.r5/src/main/resources/snapshot-generation/t43-output.xml
/org.hl7.fhir.r5/src/main/resources/snapshot-generation/t44-output.xml
/org.hl7.fhir.r5/src/main/resources/snapshot-generation/t5-output.xml
/org.hl7.fhir.r5/src/main/resources/snapshot-generation/t6-output.xml
/org.hl7.fhir.r5/src/main/resources/snapshot-generation/t7-output.xml
/org.hl7.fhir.r5/src/main/resources/snapshot-generation/t8-output.xml
/org.hl7.fhir.r5/src/main/resources/snapshot-generation/t9-output.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t1-output.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t10-output.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t11-output.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t12-output.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t12a-output.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t13-output.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t14-output.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t15-output.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t16-output.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t17-output.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t18-output.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t19-output.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t2-output.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t21-output.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t22-output.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t23-output.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t24b-output.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t26-output.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t27-output.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t28-output.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t29-output.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t3-output.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t30b-output.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t31-output.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t32-output.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t33-output.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t34-output.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t35-output.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t36-output.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t38-output.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t4-output.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t40-output.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t41-output.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t42-output.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t43-output.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t44-output.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t5-output.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t6-output.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t7-output.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t8-output.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t9-output.xml
/org.hl7.fhir.r4/src/main/resources/fml/*.out
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/samply1-actual.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t1-actual.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t10-actual.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t11-actual.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t12-actual.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t12a-actual.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t13-actual.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t14-actual.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t15-actual.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t16-actual.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t17-actual.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t18-actual.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t19-actual.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t2-actual.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t21-actual.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t22-actual.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t23-actual.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t23a-input.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t24b-actual.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t26-actual.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t27-actual.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t28-actual.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t29-actual.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t3-actual.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t30b-actual.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t31-actual.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t32-actual.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t33-actual.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t34-actual.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t35-actual.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t36-actual.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t38-actual.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t4-actual.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t40-actual.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t41-actual.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t42-actual.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t43-actual.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t44-actual.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t4a-actual.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t5-actual.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t6-actual.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t7-actual.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t8-actual.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t9-actual.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/dv1-actual.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t45-actual.xml
/org.hl7.fhir.r4b
/org.hl7.fhir.r5/src/test/resources/gen/gen.xml
/org.hl7.fhir.r5/src/test/resources/graphql/*.out
/org.hl7.fhir.validation/src/test/resources/comparison/output
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/au2-actual.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/au3-actual.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/t29b-input.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/logical1-actual.xml
/org.hl7.fhir.r5/src/test/resources/snapshot-generation/logical2-actual.xml
