<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
        "-//Puppy Crawl//DTD Check Configuration 1.3//EN"
        "http://www.puppycrawl.com/dtds/configuration_1_3.dtd">

<module name="Checker">

    <property name="severity" value="error"/>
    <property name="charset" value="UTF-8"/>
    <property name="fileExtensions" value="java, properties, xml, js, json"/>
    <module name="TreeWalker">
        <module name="SuppressWarningsHolder"/>
        <!--
        <module name="TodoComment">-->
        <!-- The (?i) below means Case Insensitive -->
        <!--<property name="format" value="(?i)FIXME"/>-->
        <module name="RegexpSinglelineJava">
            <!-- No hamcrest usage in this project -->
            <property name="id" value="NoHamcrestAssert"/>
            <property name="format" value="org\.hamcrest\."/>
            <property name="message"
                      value="Incorrect matcher import used: The &quot;org.assertj.core.api.Assertions.assertThat&quot; import should be used for tests"/>
        </module>
        <module name="RegexpSinglelineJava">
            <!-- No JetBrains annotations -->
            <property name="format" value="org\.jetbrains\.annotations\.NotNull"/>
            <property name="message"
                      value="Don't use JetBrains NotNull use javax.annotation.Notnull."/>
        </module>
        <module name="RegexpSinglelineJava">
            <!-- No JetBrains annotations -->
            <property name="format" value="org\.jetbrains\.annotations\.Nullable"/>
            <property name="message"
                      value="Don't use JetBrains Nullable use javax.annotation.Nullable."/>
        </module>
        <module name="RegexpSinglelineJava">
            <!-- No JetBrains annotations -->
            <property name="format" value="org\.jetbrains\.annotations\.\*"/>
            <property name="message"
                      value="Don't use JetBrains annotations use javax.annotation."/>
        </module>
        <module name="RegexpSinglelineJava">
            <!-- No direct usage of System.out or System.err -->
            <property name="id" value="systemout"/>
            <property name="format" value="^.*System\.(out|err).*$"/>
            <property name="message"
                      value="Don't use System.out/err, use SLF4J instead."/>
        </module>

    </module>
    <module name="SuppressWarningsFilter"/>
    <module name="SuppressionSingleFilter">
        <!-- Suppress patternUsage checks in test sources -->
        <property name="id" value="patternUsage"/>
        <property name="files" value=".*[\\/]src[\\/]test[\\/]java[\\/].*\.java"/>
    </module>
    <module name="SuppressionSingleFilter">
        <!-- Suppress stringPatternUsage checks in test sources -->
        <property name="id" value="stringImplicitPatternUsage"/>
        <property name="files" value=".*[\\/]src[\\/]test[\\/]java[\\/].*\.java"/>
    </module>
    <module name="SuppressionSingleFilter">
        <!-- Suppress patternStaticImport checks in test sources -->
        <property name="id" value="patternStaticImport"/>
        <property name="files" value=".*[\\/]src[\\/]test[\\/]java[\\/].*\.java"/>
    </module>
    <module name="SuppressionSingleFilter">
        <!-- Suppress regexUtilsUsage checks in test sources -->
        <property name="id" value="regexUtilsUsage"/>
        <property name="files" value=".*[\\/]src[\\/]test[\\/]java[\\/].*\.java"/>
    </module>
    <module name="RegexpMultiline">
        <!-- No direct usage of XML constructors -->
        <property name="id" value="patternUsage"/>
        <property name="matchAcrossLines" value="true"/>
        <property name="format" value="^.*Pattern\.(compile|matches)\("/>
        <property name="message"
                  value="Usage of Pattern.compile(...) and Pattern.matches(...) is only allowed for reviewed regular expressions or known inputs."
        />
    </module>
    <module name="RegexpMultiline">
        <property name="id" value="patternStaticImport"/>
        <property name="matchAcrossLines" value="true"/>
        <property name="format" value="import static.*Pattern\.(compile|matches)"/>
        <property name="message"
                  value="Static imports of Pattern.compile and Pattern.matches are only allowed for reviewed regular expressions or known inputs."
        />
    </module>
    <module name="RegexpMultiline">
        <property name="id" value="stringImplicitPatternUsage"/>
        <property name="matchAcrossLines" value="true"/>
        <property name="format" value="\.(matches|replaceAll|replaceFirst|split)\("/>
        <property name="message"
                  value="Usage of String.matches(...), String.replaceAll(...), String.replaceFirst(...), and String.split(...) implicitly compile a regex pattern on each call. This is only allowed for reviewed regular expressions or known inputs."
        />
    </module>
    <module name="RegexpMultiline">
        <property name="id" value="regexUtilsUsage"/>
        <property name="matchAcrossLines" value="true"/>
        <property name="format" value="RegexUtils\."/>
        <property name="message"
                  value="Usage of RegexUtils is only allowed for reviewed regular expressions or known inputs."
        />
    </module>
    <module name="RegexpMultiline">
        <!-- No direct usage of XML constructors -->
        <property name="id" value="transformerFactoryNewInstance"/>
        <property name="matchAcrossLines" value="true"/>
        <property name="format" value="TransformerFactory\.newInstance\("/>
        <property name="message"
                  value="Usage of TransformerFactory.newInstance() is only allowed in XMLUtil.newXXEProtectedTransformerFactory()."
        />
    </module>
    <module name="RegexpMultiline">
        <!-- No direct usage of XML constructors -->
        <property name="id" value="documentBuilderFactoryNewInstance"/>
        <property name="matchAcrossLines" value="true"/>
        <property name="format" value="DocumentBuilderFactory\.newInstance\("/>
        <property name="message"
                  value="Usage of DocumentBuilderFactory.newInstance() is only allowed in XMLUtil.newXXEProtectedDocumentBuilderFactory(). If the location of this call in XMLUtil has changed, please modify the expected line number in org.hl7.fhir.utilities/checkstyle_suppressions.xml"
        />
    </module>
    <module name="RegexpMultiline">
        <!-- No direct usage of XML constructors -->
        <property name="id" value="saxParserFactoryNewInstance"/>
        <property name="matchAcrossLines" value="true"/>
        <property name="format" value="SAXParserFactory\.newInstance\("/>
        <property name="message"
                  value="Usage of SAXParserFactory.newInstance() is only allowed in XMLUtil.newXXEProtectedSaxParserFactory(). If the location of this call in XMLUtil has changed, please modify the expected line number in org.hl7.fhir.utilities/checkstyle_suppressions.xml"
        />
    </module>
    <module name="RegexpMultiline">
        <!-- No direct usage of XML constructors -->
        <property name="id" value="getXMLReader"/>
        <property name="matchAcrossLines" value="true"/>
        <property name="format" value="\.getXMLReader\("/>
        <property name="message"
                  value="Usage of SAXParserFactory.getXMLReader() is only allowed in XMLUtil.getXXEProtectedXMLReader(...). If the location of this call in XMLUtil has changed, please modify the expected line number in org.hl7.fhir.utilities/checkstyle_suppressions.xml"
        />
    </module>
</module>