<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">
<servers>
  <server>
    <id>alike-mvn-store</id>
    <username>aws</username>
    <password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
  </server>
</servers>
<profiles>
  <profile>
    <id>alike-mvn-store</id>
    <activation>
      <activeByDefault>true</activeByDefault>
    </activation>
    <repositories>
      <repository>
        <id>alike-mvn-store</id>
        <url>https://alike-359782056790.d.codeartifact.us-east-1.amazonaws.com/maven/mvn-store/</url>
      </repository>
    </repositories>
  </profile>
</profiles>
</settings>
