<configuration>

	<statusListener class="ch.qos.logback.core.status.NopStatusListener" />

	<logger name="org.sqlite.core.NativeDB" level="off" />

	<appender name="CONSOLE_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
		<immediateFlush>true</immediateFlush>
	</appender>

	<root level="info">
		<appender-ref ref="CONSOLE_APPENDER" />
	</root>

</configuration>